<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Practice/blob/main/WiproPatterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Print the below shape on a console window [10 rows right-angled left justified numbers]
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
"""
for i in range(1, 11):
  for j in range(1, i + 1):
    print(j, end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [2]:
"""
Print the below shape on a console window [10 rows right-angled right justified stars]
                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *
"""
for i in range(1, 11):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print("*", end = ' ')
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [3]:
"""
Print the below shape on a console window [10 rows triangle of incr-decr numbers]
                  1
                1 2 1
              1 2 3 2 1
            1 2 3 4 3 2 1
          1 2 3 4 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1
"""
for i in range(1, 11):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print(j, end = ' ')
  for j in range(i - 1, 0, -1):
    print(j, end = ' ')
  print()

                  1
                1 2 1
              1 2 3 2 1
            1 2 3 4 3 2 1
          1 2 3 4 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

In [4]:
"""
Print the below shape on a console window [10 rows reverse triangle of incr-decr numbers]
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
          1 2 3 4 5 4 3 2 1
            1 2 3 4 3 2 1
              1 2 3 2 1
                1 2 1
                  1
"""
for i in range(10, 0, -1):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print(j, end = ' ')
  for j in range(i - 1, 0, -1):
    print(j, end = ' ')
  print()

1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
          1 2 3 4 5 4 3 2 1
            1 2 3 4 3 2 1
              1 2 3 2 1
                1 2 1
                  1

In [5]:
"""
Print the below shape on a console window [10 rows triangle of incr-nums decr-alphabets]
                  1
                1 2 A
              1 2 3 B A
            1 2 3 4 C B A
          1 2 3 4 5 D C B A
        1 2 3 4 5 6 E D C B A
      1 2 3 4 5 6 7 F E D C B A
    1 2 3 4 5 6 7 8 G F E D C B A
  1 2 3 4 5 6 7 8 9 H G F E D C B A
1 2 3 4 5 6 7 8 9 10 I H G F E D C B A
"""
for i in range(1, 11):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print(j, end = ' ')
  for j in range(i - 1, 0, -1):
    print(chr(j + 64), end = ' ')
  print()

                  1
                1 2 A
              1 2 3 B A
            1 2 3 4 C B A
          1 2 3 4 5 D C B A
        1 2 3 4 5 6 E D C B A
      1 2 3 4 5 6 7 F E D C B A
    1 2 3 4 5 6 7 8 G F E D C B A
  1 2 3 4 5 6 7 8 9 H G F E D C B A
1 2 3 4 5 6 7 8 9 10 I H G F E D C B A

In [6]:
"""
Print the below shape on a console window [10 rows rhombus of incr-decr numbers]
                  1
                1 2 1
              1 2 3 2 1
            1 2 3 4 3 2 1
          1 2 3 4 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
          1 2 3 4 5 4 3 2 1
            1 2 3 4 3 2 1
              1 2 3 2 1
                1 2 1
                  1
"""
for i in range(1, 11):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print(j, end = ' ')
  for j in range(i - 1, 0, -1):
    print(j, end = ' ')
  print()
for i in range(9, 0, -1):
  for j in range(1, 11 - i):
    print(" ", end = ' ')
  for j in range(1, i + 1):
    print(j, end = ' ')
  for j in range(i - 1, 0, -1):
    print(j, end = ' ')
  print()

                  1
                1 2 1
              1 2 3 2 1
            1 2 3 4 3 2 1
          1 2 3 4 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
          1 2 3 4 5 4 3 2 1
            1 2 3 4 3 2 1
              1 2 3 2 1
                1 2 1
                  1

In [7]:
n= 10
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end='')
    if i==n:
        print("9" + "1", end='')
    for j in range(i, 0, -1):
        print(j, end='')
    print()
for i in range(n-1,0,-1 ):
    for j in range(1, i+1):
        print(j,end='')
    for j in range(i,0,-1):
        print(j, end='')
    print()

11
1221
123321
12344321
1234554321
123456654321
12345677654321
1234567887654321
123456789987654321
123456789109110987654321
123456789987654321
1234567887654321
12345677654321
123456654321
1234554321
12344321
123321
1221
11